h1{
    color: rgb(101, 245, 173);
    position: absolute;
    left: 44%;
    /*text-align: center;*/
    top: 40%;
    font-size: 690%;
    animation-name: NameAppear;
    animation-duration: 4.5s;
}


body{
    /*background: radial-gradient(circle,rgb(175, 175, 175) 5%,rgb(66, 65, 65) 40%,black 100%);*/
    background-image: url("../images/movie-poster-background.jpg");
    background-size: 100%;
    font-family: "poppins-regular", sans-serif;
}

#leftPole{
    float: left;
    top: 7%;
    left: 43%;
    width: 3%;
    height: 40vh;
    background: rgb(101, 245, 173);
    border-radius: 4%;
    position: absolute;
    animation-name: logoLeftPole;
    animation-duration: 2.5s;
}

#rightPole{
    float: left;
    left: 58%;
    top: 7%;
    width: 3%;
    height: 40vh;
    background: rgb(101, 245, 173);
    border-radius: 4%;
    position: absolute;
    animation-name: logoRightPole;
    animation-duration: 2.5s;
}

#bridge{
    float: left;
    left: 43%;
    top: 22%;
    width: 17vw;
    height: 7%;
    background:rgb(101, 245, 173);
    position: absolute;
    animation-name: logoBridge;
    animation-duration: 2.5s;
}

.UserInput{
    
    border-bottom: 5px solid white;
    border: 0.1px white;
    border-radius: 5%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

label{
  color: white;
  font-style: Bold;
  font-size: larger;
}

.InputField{
    position: absolute;
    left: 44%;
    top: 65%;
    padding: 35px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}

button{
    color: Black;
    font-style: Bold;
    font-size: larger;
    box-shadow: 2% white;
    width: 35%;
    height: 15%;
    padding: 15px;
}
button:hover{
    background-color: rgb(64, 184, 124);
    border-color: white;
    color: white;
    box-shadow: 4% white;
}

#registerLabel{
    color: white;
    font-size: xx-large;
    font-style: bold;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#registerLabel:hover{
    color: rgb(64, 184, 124);
    cursor: pointer;
}

#invalidInput{
    position: absolute;
    bottom: 8%;
    left: 52%;
    color: red;
}

@keyframes logoLeftPole{
    0%{
        left:-10%;
    }

    100%{
        left:43%;
    }
}

@keyframes logoRightPole{
    0%{
        left:100%;
    }

    100%{
        left:58%;
    }
}

@keyframes logoBridge{
    0%{
        top:-10%;
    }

    100%{
        top:22%;
    }
}

@keyframes NameAppear {
    from{opacity: 0%;}
    to{opacity: 100%;}
}