<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!--These are just fonts-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="view.css">
        <title>View</title>
    </head>

    <body>
        <navbar class="NaviBar" id="navbar">
            <h2 id="slogan">HOOP</h2>
            <ul>
            <li id="HomeLink"><a href="../home/home.html">Home</a></li>
            <li id="NewLink"><a href="../new/new.html">New</a></li>
            <li id="RecommendedLink"><a href="../recommended/recommended.html">Recommended</a></li>
            <li id="FavouritesLink"><a href="../favourties/favourites.html">Favourites</a></li>
            <li id="SettingsLink"><a href="../settings/settings.html">Settings</a></li>
            <li id="logout"><a href="../login/login.html">Logout</a></li>
            </ul>
        </navbar>

        <div class="view-container">
            <div class="view-box">
                <img src="../images/Transformers-_Rise_of_the_Beasts.jpg" class="view-poster">
                <div class="text-container">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, officia molestiae rerum explicabo, nesciunt maiores veniam debitis nam error aut quidem dicta nobis laboriosam cum, quod voluptates labore quibusdam ipsum.</p>
                <label>Director: </label>
                <label>Cast: </label>
                <label>Release: </label>
                <label>Rating: 5/5</label>
                </div>
            </div>

         <div class="review-box">
            <h3>Review</h3>
            <input type="text" placeholder="Enter review here" class="review-input" id="reviewInput">
            <input type="number" min="0" max="5" class="rating-input" placeholder="Enter rating" id="ratingInput">
            <label id="errorLbl"></label>
            <button class="post-button" id="postBtn">Post</button>
         </div>

         <div class="review-box text-container">
            <label>Reviewer name</label>
            <label>Date: </label>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque esse facilis expedita ipsam, quas incidunt. Magni quod beatae odit ipsum consequatur minima veritatis, aut ducimus neque totam omnis excepturi?</p>
         </div>
        </div>

        <script src="view.js"></script>
    </body>
</html>